body{
    font-family: 'Oxygen', sans-serif;
}

#header-nav{
    background-color: #2a2a2a;
    border: 0;
    border-radius: 0;
    min-height: 70px;
}



.navbar-brand h1{
    color: #7fff00;
    margin: 0px 0 0px 25px;
}

.navbar-brand a:hover{
    text-decoration: none;
}

.navbar-toggle{
    margin-top: 30px;
}

#nav-list{
    margin-top: 0;
    background-color: #2a2a2a;
}

#nav-list a{
    text-align: center;
    font-size: 1.2em;
    color: #7fff00;
}

#nav-list a:hover{
    background-color: #cd853f;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar{
    border: 1px solid #cd853f;
}

.navbar-header button.navbar-toggle{
    clear: both;
    margin-top:-30px;
}

#background{
    background-color: #cd853f;
    height: 5000px;

}

#background h3{
    font-size: 1.8em;
    padding-top: 10px;
}

#background p{
    padding: 10px 20px;
    font-size: 1.2em;
}

#main-content h1{
    text-transform: uppercase;
}